body {
	/* width: 100%; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 20px;
	font-family: sans-serif;
	font-size: 12px;
}
.header {
	display: block;
	text-align: center;
	margin: 10px;
}
#title {
	font-size: 40px;
	padding-bottom: 20px;
}
.flex-column, .flex-row {
	align-items: center;
	justify-content: center;
}
.flex-column {
	display: flex;
	flex-direction: column;
}
.flex-row {
	display: flex;
	flex-direction: row;
}
.side-padding {
	padding: 0 20px;
}
.space-around {
	justify-content: space-around;
}
.padding20 {
	padding: 20px;
}
.header label {
	width: 100px;
	margin: 10px;
	font-size: 14px;
}
.size-input {
	width: 50px;
	height: 25px;
	margin: 10px;
}
#field-button {
	display: flex;
	height: 60px;
	width: 180px;
	align-items: center;
	justify-content: center;
	/* background-color: #6cb8ef; */
	margin: 10px;
	font-size: 1.5em;
}
#field-representation {
	width: 180px;
	height: 180px;
}
.content {
	/* display: block; */
	padding: 10px;
	/* border: 1px solid blue; */
}
.flex-container {
	display: flex;
	flex-direction: row;
	align-content: space-around;
	/* justify-items: center; */
	justify-content: center;	
	padding: 20px 50px;
	/* border: 1px solid green; */
}
.text-right {
	justify-content: right;
}
.button {
	width: 120px;
	height: 120px;
	border: 1px solid red;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-size: 3em;
	color: #fff;
	margin: 30px;
	background-color: #9286aa;
	box-shadow: 4px 4px 8px rgba(0,0,0,0.3);
}
.display {
	width: 120px;
	height: 120px;
	border: 1px solid red;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 30px;
	color: #fff;
	font-size: 9em;
	background-color: #ece2af;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}
.aqua {
	background-color: #0db4b4;
}
.cadetblue {
	background-color: #6089a8;
}
.border-red {
	border: 1px solid red;
}
.border-blue {
	border: 1px solid blue;
}
.border-aquamarine {
	border: 1px solid aquamarine;
}
.rounded {
	border-radius: 7px;
}